@model DELTA___Ballin_Out_Web_Application.Models.Events
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Details";
}

<h1 style="padding: 20px; padding-top: 150px; color: white; letter-spacing: 15px; text-align: center; font-weight: 400; text-transform: uppercase;">@Html.DisplayFor(model => model.EventName)</h1>


<body style="background: url('@Html.DisplayFor(model => model.EventImage)') no-repeat center center fixed; background-size: cover;">
</body>

<div style="position: absolute; z-index: -1; top: 0; width: 100%; height: 100%; left: 0; opacity: 0.9; background-image: linear-gradient(to bottom right, #192347, #e65177);">

</div>
    @*<img style="width: 100px; height: auto;" src="@Html.DisplayFor(model => model.EventImage)">*@
    <p style="color: white; letter-spacing: 2px; text-align: center; font-weight: lighter; text-transform: uppercase;">
        <strong>@Html.DisplayFor(model => model.EventLocation)</strong>
    </p>
    <p style="padding: 20px; color: white; font-size: 20px; text-align: left; font-weight: lighter; text-transform: none;">
        @Html.DisplayFor(model => model.EventDescription)
    </p>
    <p style="padding: 20px; color: white; letter-spacing: 2px; text-align: center; font-weight: 400; text-transform: uppercase;">
        <strong>Event Date -</strong> @Html.DisplayFor(model => model.EventDate)
    </p>

@if (SignInManager.IsSignedIn(User)) {
<div style="padding-bottom: 100px; color: white;">
    <a class="nav-link" style="display: inline-block; text-decoration: none; text-shadow: 1px 1px 8px black; padding: 20px; color: white; letter-spacing: 15px; font-weight: lighter; text-transform: uppercase;" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="nav-link" style="display: inline-block; text-decoration: none; text-shadow: 1px 1px 8px black; padding: 20px; color: white; letter-spacing: 15px; font-weight: lighter; text-transform: uppercase;" asp-action="Index">Back to List</a>
    <a class="nav-link" style="float: right; padding: 20px; display: inline-block; text-align: center; border-radius: 5px; border: none; color: white; letter-spacing: 15px; font-weight: 500; text-transform: uppercase; text-decoration: none; background-color: #dc4f75; width: 220px;" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
</div>
}